<template>
   <div>
      <h2>Корзина</h2>
      <v-row>
         <v-col cols="9" v-if="basketItems.length">
            <Card v-for="(item, index) in basketItems"
                  :key="item.id"
                  :item="item"
                  @delItem="del(index)"
            />
         </v-col>
         <v-col cols="9" v-else>
            <h3>Корзина пуста</h3>
         </v-col>
         <v-col cols="3">
            <v-card class="mx-auto content" rounded="lg" elevation="8">
               <v-card-title>Итого: {{sumItem}} товар на сумму {{currency().format(sumPrice)}}</v-card-title>
               <v-card-text>
                  <p>В наличии как говна</p>
                  <p>Возможна доставка</p>
               </v-card-text>
               <v-card-actions>
                  <v-btn block color="primary" @click="$router.push('/order')">Оформить заказ</v-btn>
               </v-card-actions>
            </v-card>
         </v-col>
      </v-row>
      <Accessory />
   </div>
</template>

<script>
import Card from "../inc/basket/card.vue";
import Accessory from "../inc/accessory.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "basket",
  components: { Card, Accessory },
  computed: {
    ...mapGetters(["basketItems"]),
    sumItem() {
      return this.basketItems.reduce((sum, item) => sum + item.qty, 0);
    },
    sumPrice() {
      return this.basketItems.reduce(
        (sum, item) => sum + item.price * item.qty,
        0
      );
    }
  },
  methods: {
    ...mapActions(["delItem"]),
    del(index) {
      this.delItem(index);
    }
  }
};
</script>

<style scoped>
.content {
  margin: 0px 0px 20px 0px;
}
</style>