<template>
  <v-row>
    <CatalogBar />
    <v-col cols="10">
      <Carousel />
      <News />
      <Sale />
    </v-col>
  </v-row>
</template>

<script>
import CatalogBar from "../inc/catalogBar.vue";
import Carousel from "../inc/carousel.vue";
import News from "../inc/home/news.vue";
import Sale from "../inc/home/sale.vue";

export default {
  components: { CatalogBar, Carousel, News, Sale }
};
</script>

<style scoped>
</style>