<template>
<div>
   <v-breadcrumbs :items="links">
      <template v-slot:divider>
      <v-icon>mdi-chevron-right</v-icon>
      </template>
   </v-breadcrumbs>

   <h2 v-if="!load">{{`${item.size} ${item.category} ${item.brand} ${item.model} ${item.memory} ${item.color}`}}</h2>
   <v-card class="mx-auto">
      <v-sheet class="mx-auto content" elevation="8" rounded="lg">
        <Loader v-if="load" />
         <v-row v-else>
            <v-col cols="6">
               <v-tabs v-model="tab" background-color="primary" class="tab" dark>
                  <v-tab>Описание</v-tab>
                  <v-tab>Характеристики</v-tab>
                  <v-tab>Наличие</v-tab>
                  <v-tab>Отзывы</v-tab>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                      <v-btn elevation="1" icon small @click="commentForm" v-on="{...tooltip}"><v-icon dark>mdi-plus</v-icon></v-btn>
                    </template>
                    <span>Написать отзыв</span>
                  </v-tooltip>
               </v-tabs>

               <v-tabs-items v-model="tab" class="tabs">
                  <v-tab-item>
                    <v-card flat><v-card-text style="font-size: 22px">{{ item.description }}</v-card-text></v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <v-card flat>
                      <v-data-table
                        :headers="headers"
                        :items="chars"
                        hide-default-header
                        hide-default-footer
                      ></v-data-table>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <v-card flat>
                      <v-card-text>
                        <v-data-table
                          :headers="headers"
                          :items="shops"
                          hide-default-header
                          hide-default-footer
                        ></v-data-table>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item class="text">
                    <v-card class="mb-2" v-for="comment in item.comments" :key="comment.id">
                      <v-card-title>
                        {{comment.user_name}}
                        <v-spacer></v-spacer>
                        <v-rating length="5" size="15" readonly :value="comment.rating"></v-rating>
                      </v-card-title>
                      <v-card-text>{{comment.text}}</v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>

                <v-card-actions class="mt-5">
                  <h2 v-if="!load">{{currency().format(item.price)}}</h2>
                  <v-spacer></v-spacer>
                  <v-rating length="5" size="30" readonly :value="item.rating"></v-rating>
                  <v-spacer></v-spacer>
                  <v-btn icon color="red"><v-icon>mdi-heart</v-icon></v-btn>
                  <v-spacer></v-spacer>
                  <v-btn v-if="!inBasket" x-large dark color="primary" @click="buy">Купить</v-btn>
                  <v-btn v-else x-large @click="$router.push('/basket')">Корзина</v-btn>
                </v-card-actions>
              </v-col>

            <v-col cols="6">
              <v-carousel show-arrows-on-hover>
                  <v-carousel-item v-for="img in item.images" :key="img.id">
                    <img class="image" :src="img.path">
                  </v-carousel-item>
              </v-carousel>
            </v-col>
         </v-row>
      </v-sheet>
   </v-card>
   <Accessory />
   <Comment ref="comment" />
</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Accessory from "../inc/accessory.vue";
import Comment from "../inc/item/comment";
import Loader from "../inc/loader";

export default {
  name: "item",
  components: { Accessory, Comment, Loader },
  data: () => ({
    load: true,
    tab: null,
    isActive: false,
    inBasket: false,
    links: [
      {
        text: "Dashboard",
        disabled: false,
        href: "breadcrumbs_dashboard"
      },
      {
        text: "Link 1",
        disabled: false,
        href: "breadcrumbs_link_1"
      },
      {
        text: "Link 2",
        disabled: true,
        href: "breadcrumbs_link_2"
      }
    ],
    headers: [
      {
        text: "Характеристики",
        align: "start",
        sortable: false,
        value: "name"
      },
      { text: "Значения", value: "value" }
    ],
    chars: [
      { name: "Размер", value: "" },
      { name: "Цвет", value: "" },
      { name: "Память", value: "" },
      { name: "Аккумулятор", value: "" },
      { name: "Процессор", value: "" },
      { name: "Оперативная память", value: "" },
      { name: "Камера", value: "" }
    ],
    shops: [
      { name: "Магазин 1", value: "Да" },
      { name: "Магазин 2", value: "Да" },
      { name: "Магазин 3", value: "Нет" },
      { name: "Магазин 4", value: "Да" },
      { name: "Магазин 5", value: "Нет" },
      { name: "Магазин 6", value: "Нет" },
      { name: "Магазин 7", value: "Да" }
    ]
  }),
  computed: {
    ...mapGetters(["item", "comments", "basketItems"])
  },
  methods: {
    ...mapActions(["getItem", "addToBasket"]),
    buy() {
      this.addToBasket(this.item);
      this.inBasket = true;
    },
    commentForm() {
      this.$refs.comment.openForm();
    }
  },
  watch: {
    $route() {
      this.getItem(this.$route.params.id);
      this.chars[0].value = this.item.size;
      this.chars[1].value = this.item.color;
      this.chars[2].value = this.item.memory;
      this.chars[3].value = this.item.accum;
      this.chars[4].value = this.item.processor;
      this.chars[5].value = this.item.dimm;
      this.chars[6].value = this.item.camera;
      this.load = false;
    }
  },
  async mounted() {
    await this.getItem(this.$route.params.id);
    this.chars[0].value = this.item.size;
    this.chars[1].value = this.item.color;
    this.chars[2].value = this.item.memory;
    this.chars[3].value = this.item.accum;
    this.chars[4].value = this.item.processor;
    this.chars[5].value = this.item.dimm;
    this.chars[6].value = this.item.camera;
    this.load = false;
    if (this.basketItems.some(i => i.id == this.item.id)) {
      this.inBasket = true;
    }
  }
};
</script>

<style scoped>
.content {
  display: grid;
  grid-template: auto 1fr auto / 100%;
  margin: 0px 0px 20px 0px;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.tabs {
  height: 350px;
}
.text {
  max-height: 100%;
  overflow: auto;
}
</style>