<template>
   <div>
      <v-breadcrumbs :items="links">
         <template v-slot:divider>
         <v-icon>mdi-chevron-right</v-icon>
         </template>
      </v-breadcrumbs>
      <h2>Туева хуча кирпичей</h2>
      <v-row>
         <Sidebar />
         <v-col cols="9">
            <Card v-for="item in Items"
                  :key="item.id"
                  :item="item"
            />
         </v-col>
      </v-row>
   </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Card from "../inc/itemList/card.vue";
import Sidebar from "../inc/sidebar.vue";
export default {
  name: "itenList",
  components: { Sidebar, Card },
  data: () => ({
    links: [
      {
        text: "Dashboard",
        disabled: false,
        href: "breadcrumbs_dashboard"
      },
      {
        text: "Link 1",
        disabled: false,
        href: "breadcrumbs_link_1"
      },
      {
        text: "Link 2",
        disabled: true,
        href: "breadcrumbs_link_2"
      }
    ],
    cards: [
      {
        id: 1,
        title: '5" Смартфон DEXP BL350 16 ГБ серый',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/d2450f547a1c5983912f545adcab4b7b/a05ad1ff1f69afcfc2b83579e8775712ae86aa15d428d0285637bd7a859bcbfd.jpg",
        srcs: [
          "https://c.dns-shop.ru/thumb/st1/fit/500/500/356fdb42558cc60f270886c29fa11059/6d83097e9bb33b8a6072b1f6080bd7e647b49410351edbe8aafeea24f7b79cc9.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/9aaea8ff2dc38cbe7bbf38996ef3e384/7a1629ec9c1c9ab5a6f5d5600e3d7bff70f9fc64586056dd32453142ba7a75f5.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/fe62cf65325c1e682f7ccb8c47b0ed45/968277499e86f48318fbe930213ffb057aafd8c635e79ef4214681f49a998883.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a64c5716a610df045f4de757c498a8bb/4e6d85b2c59c339eedb48131d2abf6146a23dd89d029620c6e7aad9f3ef8c97c.jpg",
          "https://c.dns-shop.ru/thumb/st1/fit/wm/2000/2000/a38b591339df1f54cd4a9481c21d7d57/201323e5c3983f65c3ac12f3ea3a9c35e605dcb4bf7fbcc96468959788843c2d.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a1206d77cca254b8be3765594b918c54/c471fc522d2c8d50a51fb58f2b394bd3343f574b0d94522b6ec3cd08dccb1838.jpg"
        ]
      },
      {
        id: 2,
        title: '6.3" Смартфон Xiaomi Redmi Note 8 128 ГБ белый',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st1/fit/190/190/792e08bc9cb0c15a4ea8e03b5e4f5eaa/6d83097e9bb33b8a6072b1f6080bd7e647b49410351edbe8aafeea24f7b79cc9.jpg.webp",
        srcs: [
          "https://c.dns-shop.ru/thumb/st1/fit/500/500/356fdb42558cc60f270886c29fa11059/6d83097e9bb33b8a6072b1f6080bd7e647b49410351edbe8aafeea24f7b79cc9.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/9aaea8ff2dc38cbe7bbf38996ef3e384/7a1629ec9c1c9ab5a6f5d5600e3d7bff70f9fc64586056dd32453142ba7a75f5.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/fe62cf65325c1e682f7ccb8c47b0ed45/968277499e86f48318fbe930213ffb057aafd8c635e79ef4214681f49a998883.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a64c5716a610df045f4de757c498a8bb/4e6d85b2c59c339eedb48131d2abf6146a23dd89d029620c6e7aad9f3ef8c97c.jpg",
          "https://c.dns-shop.ru/thumb/st1/fit/wm/2000/2000/a38b591339df1f54cd4a9481c21d7d57/201323e5c3983f65c3ac12f3ea3a9c35e605dcb4bf7fbcc96468959788843c2d.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a1206d77cca254b8be3765594b918c54/c471fc522d2c8d50a51fb58f2b394bd3343f574b0d94522b6ec3cd08dccb1838.jpg"
        ]
      },
      {
        id: 3,
        title: '6.1" Смартфон Apple iPhone 12 128 ГБ красный',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st4/fit/190/190/28389c708e186829c402c6ef07c83692/bbbc466df2b4d894519c2decdfb203db460fa2f71b405d14d9ec45129e623f12.jpg.webp",
        srcs: [
          "https://c.dns-shop.ru/thumb/st1/fit/500/500/356fdb42558cc60f270886c29fa11059/6d83097e9bb33b8a6072b1f6080bd7e647b49410351edbe8aafeea24f7b79cc9.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/9aaea8ff2dc38cbe7bbf38996ef3e384/7a1629ec9c1c9ab5a6f5d5600e3d7bff70f9fc64586056dd32453142ba7a75f5.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/fe62cf65325c1e682f7ccb8c47b0ed45/968277499e86f48318fbe930213ffb057aafd8c635e79ef4214681f49a998883.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a64c5716a610df045f4de757c498a8bb/4e6d85b2c59c339eedb48131d2abf6146a23dd89d029620c6e7aad9f3ef8c97c.jpg",
          "https://c.dns-shop.ru/thumb/st1/fit/wm/2000/2000/a38b591339df1f54cd4a9481c21d7d57/201323e5c3983f65c3ac12f3ea3a9c35e605dcb4bf7fbcc96468959788843c2d.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a1206d77cca254b8be3765594b918c54/c471fc522d2c8d50a51fb58f2b394bd3343f574b0d94522b6ec3cd08dccb1838.jpg"
        ]
      },
      {
        id: 4,
        title: '6.5" Смартфон OPPO A72 128 ГБ черный',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st1/fit/190/190/efcd5ea3de766ac84236e3fa19ff030e/c42fd815f01316f4da0f2266e0906e7961e45f46dbcdc7062836dbdb2facbfcd.jpg.webp",
        srcs: [
          "https://c.dns-shop.ru/thumb/st1/fit/500/500/356fdb42558cc60f270886c29fa11059/6d83097e9bb33b8a6072b1f6080bd7e647b49410351edbe8aafeea24f7b79cc9.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/9aaea8ff2dc38cbe7bbf38996ef3e384/7a1629ec9c1c9ab5a6f5d5600e3d7bff70f9fc64586056dd32453142ba7a75f5.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/fe62cf65325c1e682f7ccb8c47b0ed45/968277499e86f48318fbe930213ffb057aafd8c635e79ef4214681f49a998883.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a64c5716a610df045f4de757c498a8bb/4e6d85b2c59c339eedb48131d2abf6146a23dd89d029620c6e7aad9f3ef8c97c.jpg",
          "https://c.dns-shop.ru/thumb/st1/fit/wm/2000/2000/a38b591339df1f54cd4a9481c21d7d57/201323e5c3983f65c3ac12f3ea3a9c35e605dcb4bf7fbcc96468959788843c2d.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a1206d77cca254b8be3765594b918c54/c471fc522d2c8d50a51fb58f2b394bd3343f574b0d94522b6ec3cd08dccb1838.jpg"
        ]
      },
      {
        id: 5,
        title: '6.5" Смартфон Samsung Galaxy S20 FE 256 ГБ зеленый',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st1/fit/190/190/ef056d8b8354690b07af6a0baaf9940a/b36bcd4766d963209cc4c748a8ddaf29497c4415fbb47ad7550bd719c9561799.jpg.webp",
        srcs: [
          "https://c.dns-shop.ru/thumb/st1/fit/500/500/356fdb42558cc60f270886c29fa11059/6d83097e9bb33b8a6072b1f6080bd7e647b49410351edbe8aafeea24f7b79cc9.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/9aaea8ff2dc38cbe7bbf38996ef3e384/7a1629ec9c1c9ab5a6f5d5600e3d7bff70f9fc64586056dd32453142ba7a75f5.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/fe62cf65325c1e682f7ccb8c47b0ed45/968277499e86f48318fbe930213ffb057aafd8c635e79ef4214681f49a998883.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a64c5716a610df045f4de757c498a8bb/4e6d85b2c59c339eedb48131d2abf6146a23dd89d029620c6e7aad9f3ef8c97c.jpg",
          "https://c.dns-shop.ru/thumb/st1/fit/wm/2000/2000/a38b591339df1f54cd4a9481c21d7d57/201323e5c3983f65c3ac12f3ea3a9c35e605dcb4bf7fbcc96468959788843c2d.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a1206d77cca254b8be3765594b918c54/c471fc522d2c8d50a51fb58f2b394bd3343f574b0d94522b6ec3cd08dccb1838.jpg"
        ]
      },
      {
        id: 6,
        title: '6.5" Смартфон Samsung Galaxy A12 32 ГБ синий',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st4/fit/190/190/28389c708e186829c402c6ef07c83692/bbbc466df2b4d894519c2decdfb203db460fa2f71b405d14d9ec45129e623f12.jpg.webp",
        srcs: [
          "https://c.dns-shop.ru/thumb/st1/fit/500/500/356fdb42558cc60f270886c29fa11059/6d83097e9bb33b8a6072b1f6080bd7e647b49410351edbe8aafeea24f7b79cc9.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/9aaea8ff2dc38cbe7bbf38996ef3e384/7a1629ec9c1c9ab5a6f5d5600e3d7bff70f9fc64586056dd32453142ba7a75f5.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/fe62cf65325c1e682f7ccb8c47b0ed45/968277499e86f48318fbe930213ffb057aafd8c635e79ef4214681f49a998883.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a64c5716a610df045f4de757c498a8bb/4e6d85b2c59c339eedb48131d2abf6146a23dd89d029620c6e7aad9f3ef8c97c.jpg",
          "https://c.dns-shop.ru/thumb/st1/fit/wm/2000/2000/a38b591339df1f54cd4a9481c21d7d57/201323e5c3983f65c3ac12f3ea3a9c35e605dcb4bf7fbcc96468959788843c2d.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a1206d77cca254b8be3765594b918c54/c471fc522d2c8d50a51fb58f2b394bd3343f574b0d94522b6ec3cd08dccb1838.jpg"
        ]
      },
      {
        id: 7,
        title: '4.7" Смартфон Apple iPhone SE 2020 256 ГБ красный',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st1/fit/190/190/efcd5ea3de766ac84236e3fa19ff030e/c42fd815f01316f4da0f2266e0906e7961e45f46dbcdc7062836dbdb2facbfcd.jpg.webp",
        srcs: [
          "https://c.dns-shop.ru/thumb/st1/fit/500/500/356fdb42558cc60f270886c29fa11059/6d83097e9bb33b8a6072b1f6080bd7e647b49410351edbe8aafeea24f7b79cc9.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/9aaea8ff2dc38cbe7bbf38996ef3e384/7a1629ec9c1c9ab5a6f5d5600e3d7bff70f9fc64586056dd32453142ba7a75f5.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/fe62cf65325c1e682f7ccb8c47b0ed45/968277499e86f48318fbe930213ffb057aafd8c635e79ef4214681f49a998883.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a64c5716a610df045f4de757c498a8bb/4e6d85b2c59c339eedb48131d2abf6146a23dd89d029620c6e7aad9f3ef8c97c.jpg",
          "https://c.dns-shop.ru/thumb/st1/fit/wm/2000/2000/a38b591339df1f54cd4a9481c21d7d57/201323e5c3983f65c3ac12f3ea3a9c35e605dcb4bf7fbcc96468959788843c2d.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a1206d77cca254b8be3765594b918c54/c471fc522d2c8d50a51fb58f2b394bd3343f574b0d94522b6ec3cd08dccb1838.jpg"
        ]
      },
      {
        id: 8,
        title: '6.9" Смартфон Samsung Galaxy Note 20 Ultra 256 ГБ белый',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/d2450f547a1c5983912f545adcab4b7b/a05ad1ff1f69afcfc2b83579e8775712ae86aa15d428d0285637bd7a859bcbfd.jpg",
        srcs: [
          "https://c.dns-shop.ru/thumb/st1/fit/500/500/356fdb42558cc60f270886c29fa11059/6d83097e9bb33b8a6072b1f6080bd7e647b49410351edbe8aafeea24f7b79cc9.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/9aaea8ff2dc38cbe7bbf38996ef3e384/7a1629ec9c1c9ab5a6f5d5600e3d7bff70f9fc64586056dd32453142ba7a75f5.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/fe62cf65325c1e682f7ccb8c47b0ed45/968277499e86f48318fbe930213ffb057aafd8c635e79ef4214681f49a998883.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a64c5716a610df045f4de757c498a8bb/4e6d85b2c59c339eedb48131d2abf6146a23dd89d029620c6e7aad9f3ef8c97c.jpg",
          "https://c.dns-shop.ru/thumb/st1/fit/wm/2000/2000/a38b591339df1f54cd4a9481c21d7d57/201323e5c3983f65c3ac12f3ea3a9c35e605dcb4bf7fbcc96468959788843c2d.jpg",
          "https://c.dns-shop.ru/thumb/st4/fit/wm/2000/2000/a1206d77cca254b8be3765594b918c54/c471fc522d2c8d50a51fb58f2b394bd3343f574b0d94522b6ec3cd08dccb1838.jpg"
        ]
      }
    ]
  }),
  computed: {
    ...mapGetters(["Items"])
  },
  methods: {
    ...mapActions(["getCategoryItems"])
  },
  mounted() {
    this.getCategoryItems();
  }
};
</script>