<template>
<div>
  <h2>Оформление заказа</h2>
  <v-row>
    <v-col cols="9">
      <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="submit">
        <v-card ref="form">
          <v-card-text>
            <v-text-field
              v-model="form.name"
              :rules="nameRules"
              label="ФИО"
              placeholder="Иванов Иван Иванович"
              required
            ></v-text-field>
            <v-text-field
              v-model="form.phone"
              :rules="phoneRules"
              label="Телефон"
              placeholder="+7 (900) 000-00-00"
              required
            ></v-text-field>

            <v-radio-group v-model="form.pay" row required :rules="[v => !!v || 'Выберите способ оплаты']">
              <v-radio label="Оплата при получении" value="notOnline"></v-radio>
              <v-radio label="Оплата онлайн" value="online"></v-radio>
            </v-radio-group>

            <v-radio-group v-model="getting" row required :rules="[v => !!v || 'Выберите способ получения заказа']">
              <v-radio label="Заберу в магазине" value="store"></v-radio>
              <v-radio label="Доставить в постамат" value="postamate"></v-radio>
              <v-radio label="Доставить на дом" value="home"></v-radio>
            </v-radio-group>

            <v-select
              v-if="getting == 'store'"
              v-model="form.store"
              :items="stores"
              :rules="[v => !!v || 'Нужно выбрать магазин']"
              label="Выберите магазин"
              required
            ></v-select>

            <v-select
              v-if="getting == 'postamate'"
              v-model="form.postamate"
              :items="postamates"
              :rules="[v => !!v || 'Нужно выбрать постамат']"
              label="Выберите постамат"
              required
            ></v-select>

            <v-text-field
              v-if="getting == 'home'"
              v-model="form.address"
              :rules="addressRules"
              label="Адрес"
              placeholder="Центральная 1 - 10"
              counter="30"
              required
            ></v-text-field>
            <v-menu
              v-if="getting == 'home'"
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="form.date"
                  label="Дата доставки"
                  :rules="[v => !!v || 'Выберите дату доставки']"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  required
                ></v-text-field>
              </template>
              <v-date-picker v-model="form.date" @input="menu = false"></v-date-picker>
            </v-menu>

          </v-card-text>
          <v-divider class="mt-12"></v-divider>
          <v-card-actions>
            <v-btn color="primary" class="mr-2" type="submit">Сохранить</v-btn>
            <v-slide-x-reverse-transition>
              <v-tooltip v-if="valid == false" left>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon class="my-0" v-bind="attrs" @click="resetForm" v-on="on">
                    <v-icon>mdi-refresh</v-icon>
                  </v-btn>
                </template>
                <span>Сбросить форму</span>
              </v-tooltip>
            </v-slide-x-reverse-transition>
            
            <v-spacer></v-spacer>
            <v-btn text>Отмена</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-col>

    <v-col cols="3">
      <v-card class="mx-auto content" rounded="lg" elevation="8">
          <v-card-title>Итого: {{sumItem}} товар на сумму {{currency().format(sumPrice)}}</v-card-title>
          <v-card-text>
            <p>В наличии как говна</p>
            <p>Возможна доставка</p>
          </v-card-text>
      </v-card>
    </v-col>
  </v-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data: () => ({
    valid: true,
    menu: false,
    getting: null,
    form: {
      name: "",
      phone: "",
      pay: "",
      address: "",
      date: "",
      store: "",
      postamate: "",
      sum: ""
    },
    stores: ["Магазин 1", "Магазин 2", "Магазин 3", "Магазин 4"],
    postamates: ["Постамат 1", "Постамат 2", "Постамат 3", "Постамат 4"],
    nameRules: [
      v => !!v || "Введите ФИО",
      v =>
        (v && v.length <= 30) ||
        "Поле ФИО должно содержать не более 30 символов"
    ],
    phoneRules: [
      v => !!v || "Введите телефон",
      v => (v && Number.isInteger(+v)) || "Некорректный номер телефона"
    ],
    addressRules: [
      v => !!v || "Введите адрес",
      v =>
        (!!v && v.length <= 30) || "Адрес должен содержать не более 30 символов"
    ]
  }),
  computed: {
    ...mapGetters(["basketItems"]),
    sumItem() {
      return this.basketItems.reduce((sum, item) => sum + item.qty, 0);
    },
    sumPrice() {
      return this.basketItems.reduce(
        (sum, item) => sum + item.price * item.qty,
        0
      );
    }
  },
  mounted() {
    this.form.sum = this.sumPrice;
  },
  watch: {
    getting() {
      if (this.getting == "store") {
        (this.form.address = null),
          (this.form.date = null),
          (this.form.postamate = null);
      }
      if (this.getting == "postamate") {
        (this.form.store = null),
          (this.form.address = null),
          (this.form.date = null);
      }
      if (this.getting == "home") {
        (this.form.store = null), (this.form.postamate = null);
      }
    }
  },
  methods: {
    ...mapActions(["delItem", "createOrder"]),
    del(index) {
      this.delItem(index);
    },
    resetForm() {
      this.$refs.form.reset();
    },
    async submit() {
      if (this.$refs.form.validate()) {
        await this.createOrder({ form: this.form, items: this.basketItems });
        this.$refs.form.reset();
        this.$router.push("/private/orders");
        this.basketItems = [];
        localStorage.removeItem("basketItems");
      }
    }
  }
};
</script>