<template>
<v-row>
   <v-col cols="3">
      <Sidebar />
   </v-col>
   <v-col cols="9" class="mt-3">
      <router-view></router-view>
   </v-col>
</v-row>
</template>

<script>
import Sidebar from "../inc/private/sidebar";
export default {
  name: "private",
  components: { Sidebar }
};
</script>