<template>
  <v-row justify="center" class="dialog">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <form @submit.prevent="submit">
        <v-card>
          <v-card-title>
            <span class="headline">Ваш отзыв</span>
          </v-card-title>
          <v-card-text>
            <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field label="Ваш отзыв.." v-model="text" clearable required></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-rating length="5" size="30" v-model="rating"></v-rating>
                  </v-col>
                </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false">Отмена</v-btn>
            <v-btn color="blue darken-1" text type="submit">Сохранить</v-btn>
          </v-card-actions>
        </v-card>
      </form>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data: () => ({
    dialog: false,
    valid: false,
    text: "",
    rating: null
  }),
  computed: {
    ...mapGetters(["user"])
  },
  methods: {
    ...mapActions(["addComment"]),

    openForm() {
      this.dialog = true;
    },
    submit() {
      this.addComment({
        id: this.$route.params.id,
        user_name: this.user.name,
        text: this.text,
        rating: this.rating
      });
      this.dialog = false;
    }
  }
};
</script>

<style scoped>
.dialog {
  margin: 15px 0px;
}
</style>