<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="600px">

      <v-card>
        <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="submit">
          <v-card-title>
            <span class="headline">Логин</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Email"
                    v-model="form.email"
                    :rules="emailRules"
                    required
                    clearable
                    @focus="$refs.form.resetValidation()"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Пароль*"
                    type="password"
                    v-model="form.password"
                    :rules="passwordRules"
                    required
                    clearable
                    @focus="$refs.form.resetValidation()"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-checkbox v-model="form.remember" label="Запомнить меня"></v-checkbox>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn color="blue darken-1" text @click="$router.push('/register')">Регистрация</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="$router.go(-1)">Отмена</v-btn>
            <v-btn type="submit" color="blue darken-1" text>Войти</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data: () => ({
    dialog: true,
    form: {
      password: "",
      email: "",
      remember: false
    },
    valid: true,
    emailRules: [
      v => !!v || "Введите E-mail",
      v => /.+@.+\..+/.test(v) || "Некорректный E-mail"
    ],
    passwordRules: [
      v => !!v || "Введите пароль",
      v =>
        (v && v.length >= 6 && v.length <= 15) ||
        "Пароль должен содержать от 6 до 15 символов"
    ]
  }),

  methods: {
    ...mapActions(["login"]),

    submit() {
      if (this.$refs.form.validate()) {
        this.login(this.form);
        this.$router.go(-1);
      }
    }
  }
};
</script>