<template>
   <v-card class="mx-auto content" rounded="lg" elevation="8">
      <v-img height="200px" contain class="icon"
         :src="item.photo" 
         @click="reveal = true" 
         @mouseover="magnify = true"
         @mouseleave="magnify = false"
      >
         <v-icon v-if="magnify">mdi-magnify</v-icon>
      </v-img>
      <div class="content__info">
         <router-link :to="{name: 'item', params: {id: item.id}}">
            <v-card-title>{{`${item.size} ${item.category} ${item.brand} ${item.model} ${item.memory} ${item.color}`}}</v-card-title>
         </router-link>
         <v-card-text>
            <h2>{{currency().format(item.price)}}</h2>
            </v-card-text>
         <v-card-actions>
            <v-rating length="5" size="30" :value="item.rating" readonly></v-rating>
            <v-spacer></v-spacer>
            <v-btn icon color="red"><v-icon>mdi-heart</v-icon></v-btn>
            <v-spacer></v-spacer>
            <v-btn v-if="!inBasket" x-large dark color="primary" @click="buy">Купить</v-btn>
            <v-btn v-else x-large @click="$router.push('/basket')">Корзина</v-btn>
         </v-card-actions>
      </div>

      <v-expand-transition>
         <v-card v-if="reveal" class="transition-fast-in-fast-out v-card--reveal" style="height: 100%;">
            <v-btn text @click="reveal = false"><v-icon>mdi-close</v-icon></v-btn>
            <v-slide-group class="pa-4 reveal" show-arrows>
               <v-slide-item v-for="img in item.images" :key="img.id">
                  <v-card class="img__card">
                     <img class="image" :src="img.path">
                  </v-card>
               </v-slide-item>
            </v-slide-group>
            
         </v-card>
      </v-expand-transition>
   </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    reveal: false,
    magnify: false,
    inBasket: false
  }),
  computed: {
    ...mapGetters(["basketItems"])
  },
  methods: {
    ...mapActions(["addToBasket"]),
    buy() {
      this.addToBasket(this.item);
      this.inBasket = true;
    }
  },
  mounted() {
    if (this.basketItems.some(i => i.id == this.item.id)) {
      this.inBasket = true;
    }
  }
};
</script>

<style scoped>
.content {
  display: grid;
  grid-template: 1fr / 30% 1fr;
  margin: 0px 0px 10px 0px;
}
.content__info {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
}
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
.reveal {
  max-height: 100%;
}
.img__card {
  max-width: 190px;
  max-height: 89%;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.icon {
  display: flex;
  align-items: center;
}
</style>