<template>
	<v-app>
		<Navbar />
		<v-main class="grey lighten-3">
      	<v-container>
				<router-view />
			</v-container>
		</v-main>
		<Footer />
	</v-app>
</template>

<script>
import Footer from "./inc/footer.vue";
import Navbar from "./inc/navbar.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  components: { Navbar, Footer },
  computed: {
    ...mapGetters(["basketItems"])
  },
  methods: {
    ...mapActions(["getBasketItemsFromLS"])
  },
  mounted() {
    this.getBasketItemsFromLS();
  }
};
</script>

<style>
a {
  color: #212121 !important;
}
a:hover {
  text-decoration: none;
  color: #1976d2 !important;
}
</style>