<template>
   <v-sheet class="mx-auto content" elevation="8" rounded="lg">
      <p class="h1 news">Скидки</p>
      <v-divider></v-divider>
      <Loader v-if="load" />
      <v-slide-group v-else class="pa-4" show-arrows>
        <Card
          v-for="item in Items"
          :key="item.id"
          :item="item"
        />
      </v-slide-group>
   </v-sheet>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Card from "../card.vue";
import Loader from "../loader.vue";
export default {
  components: { Card, Loader },
  data: () => ({
    load: true,
    cards: [
      {
        id: 1,
        title: '5" Смартфон DEXP BL350 16 ГБ серый',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/d2450f547a1c5983912f545adcab4b7b/a05ad1ff1f69afcfc2b83579e8775712ae86aa15d428d0285637bd7a859bcbfd.jpg"
      },
      {
        id: 2,
        title: '6.3" Смартфон Xiaomi Redmi Note 8 128 ГБ белый',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st1/fit/190/190/792e08bc9cb0c15a4ea8e03b5e4f5eaa/6d83097e9bb33b8a6072b1f6080bd7e647b49410351edbe8aafeea24f7b79cc9.jpg.webp"
      },
      {
        id: 3,
        title: '6.1" Смартфон Apple iPhone 12 128 ГБ красный',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st4/fit/190/190/28389c708e186829c402c6ef07c83692/bbbc466df2b4d894519c2decdfb203db460fa2f71b405d14d9ec45129e623f12.jpg.webp"
      },
      {
        id: 4,
        title: '6.5" Смартфон OPPO A72 128 ГБ черный',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st1/fit/190/190/efcd5ea3de766ac84236e3fa19ff030e/c42fd815f01316f4da0f2266e0906e7961e45f46dbcdc7062836dbdb2facbfcd.jpg.webp"
      },
      {
        id: 5,
        title: '6.5" Смартфон Samsung Galaxy S20 FE 256 ГБ зеленый',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st1/fit/190/190/ef056d8b8354690b07af6a0baaf9940a/b36bcd4766d963209cc4c748a8ddaf29497c4415fbb47ad7550bd719c9561799.jpg.webp"
      },
      {
        id: 6,
        title: '6.5" Смартфон Samsung Galaxy A12 32 ГБ синий',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st4/fit/190/190/28389c708e186829c402c6ef07c83692/bbbc466df2b4d894519c2decdfb203db460fa2f71b405d14d9ec45129e623f12.jpg.webp"
      },
      {
        id: 7,
        title: '4.7" Смартфон Apple iPhone SE 2020 256 ГБ красный',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st1/fit/190/190/efcd5ea3de766ac84236e3fa19ff030e/c42fd815f01316f4da0f2266e0906e7961e45f46dbcdc7062836dbdb2facbfcd.jpg.webp"
      },
      {
        id: 8,
        title: '6.9" Смартфон Samsung Galaxy Note 20 Ultra 256 ГБ белый',
        price: 10000,
        rating: 3,
        src:
          "https://c.dns-shop.ru/thumb/st4/fit/500/500/d2450f547a1c5983912f545adcab4b7b/a05ad1ff1f69afcfc2b83579e8775712ae86aa15d428d0285637bd7a859bcbfd.jpg"
      }
    ]
  }),
  computed: {
    ...mapGetters(["Items"])
  },
  methods: {
    ...mapActions(["getCategoryItems"])
  },
  async mounted() {
    await this.getCategoryItems(this.category);
    this.load = false;
  }
};
</script>

<style scoped>
.content {
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 15px 0px;
}
.news {
  margin: 0px 0px 0px 20px;
}
</style>