<template>
   <v-card class="mx-auto content" rounded="lg" elevation="5">
      <v-img height="200px" contain :src="item.photo"></v-img>
      <div class="content__info">
         <v-card-title>
            <router-link :to="{name: 'item', params: {id: item.id}}">
              {{`${item.size} ${item.category} ${item.brand} ${item.model} ${item.memory} ${item.color}`}}
            </router-link>
         </v-card-title>
         <v-card-text>
           <v-row>
           <h5 class="mt-5">Количество: {{ item.qty }}</h5>
           <v-spacer></v-spacer>
           <h3 class="ml-3 mt-3 mr-5">{{currency().format(item.price)}}</h3>
           </v-row>
         </v-card-text>
         <v-card-text>
           <v-row>
              <router-link :to="{name: 'item', params: {id: item.id}}" class="mt-3">Оставить отзыв</router-link>
              <v-spacer></v-spacer>
              <div class="mr-5 pb-3">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on: tooltip }">
                     <v-btn icon class="like" z-index="10" v-on="{...tooltip}">
                        <v-icon>mdi-heart</v-icon>
                     </v-btn>
                  </template>
                  <span>Добавить в избранное</span>
               </v-tooltip>
              </div>
            </v-row>
          </v-card-text>
      </div>
   </v-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  }
};
</script>

<style scoped>
.content {
  display: grid;
  grid-template: 1fr / 30% 1fr;
  margin: 0px 0px 10px 0px;
}
.content__info {
  display: grid;
  grid-template: auto 1fr auto / 1fr;
}
.img__card {
  max-width: 190px;
  max-height: 89%;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
</style>