<template>
<div>
  <h2 class="mb-5">Заказы</h2>
  <v-sheet class="mx-auto content mb-5 pl-3" elevation="8" rounded="lg"
    v-for="order in user.orders" :key="order.id">
    <v-row>
        <v-col cols="7">
          <Card v-for="item in order.items" :key="item.id" :item="item" />
        </v-col>

        <v-col cols="4">
          <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr>
                    <td>Номер заказа:</td>
                    <td>{{ order.id }}</td>
                  </tr>
                  <tr>
                      <td>Статус:</td>
                      <td>Завершен</td>
                  </tr>
                  <tr>
                      <td>Способ получения:</td>
                      <td>{{ order.address }}</td>
                  </tr>
                  <tr>
                      <td>Способ оплаты:</td>
                      <td>{{ order.pay }}</td>
                  </tr>
                  <tr>
                      <td>Сумма заказа:</td>
                      <td>{{currency().format(order.sum)}}</td>
                  </tr>
                </tbody>
              </template>
          </v-simple-table>
        </v-col>
    </v-row>
  </v-sheet>
 </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Card from "./card.vue";
export default {
  name: "orders",
  components: { Card },
  data: () => ({}),
  computed: {
    ...mapGetters(["user"])
  },
  methods: {
    ...mapActions(["me"])
  },
  mounted() {
    this.me();
  }
};
</script>