<template>
   <v-sheet rounded="lg" elevation="8" class="mt-13">
      <v-list color="transparent">
         <router-link to="/private/orders">
            <v-list-item link>Заказы</v-list-item>
         </router-link>
         <v-list-item link>Избранное</v-list-item>
         <v-list-item link>Настройки</v-list-item>
         <v-list-item link>Личные данные</v-list-item>
      </v-list>
   </v-sheet>
</template>

<script>
export default {
  data: () => ({
    links: ["Заказы", "Избранное", "Настройки"]
  })
};
</script>