<template>
   <v-card class="mx-auto content" rounded="lg" elevation="8">
      <v-img height="200px" contain class="icon" :src="item.photo"></v-img>
      <div class="content__info">
         <v-card-title>
            <router-link :to="{name: 'item', params: {id: item.id}}">
              {{`${item.size} ${item.category} ${item.brand} ${item.model} ${item.memory} ${item.color}`}}
            </router-link>
            <v-spacer></v-spacer>
            <v-btn text @click="delItem"><v-icon>mdi-close</v-icon></v-btn>
         </v-card-title>
         <v-card-text>
            <h2>{{currency().format(item.price)}}</h2>
            </v-card-text>
         <v-card-actions>
            <el-input-number v-model="item.qty" :min="1" :max="10"></el-input-number>
            <v-spacer></v-spacer>
            <p class="mt-5">В наличии как говна</p>
            <v-spacer></v-spacer>
            <v-btn icon color="red" class="mr-5"><v-icon>mdi-heart</v-icon></v-btn>
         </v-card-actions>
      </div>
   </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    reveal: false,
    magnify: false,
    num: 1
  }),
  computed: {
    ...mapGetters(["basketItems"])
  },
  methods: {
    delItem() {
      this.$emit("delItem");
    }
  },
  mounted() {
    this.$set(this.item, "qty", 1);
  }
};
</script>

<style scoped>
.content {
  display: grid;
  grid-template: 1fr / 30% 1fr;
  margin: 0px 0px 10px 0px;
}
.content__info {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
}
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
.reveal {
  max-height: 100%;
}
.img__card {
  max-width: 190px;
  max-height: 89%;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.icon {
  display: flex;
  align-items: center;
}
</style>