<template>
   <v-slide-item>
      <v-card class="ma-2 content" max-width="190">
            <v-img
               class="white--text image"
               height="200px"
               :src="item.photo"
               contain
            >
               <v-tooltip bottom>
                  <template v-slot:activator="{ on: tooltip }">
                     <v-btn icon class="char" @click="reveal = true" v-on="{...tooltip}">
                        <v-icon>mdi-bookmark</v-icon>
                     </v-btn>
                  </template>
                  <span>Описание</span>
               </v-tooltip>
               <v-tooltip bottom>
                  <template v-slot:activator="{ on: tooltip }">
                     <v-btn icon class="like" z-index="10" v-on="{...tooltip}">
                        <v-icon>mdi-heart</v-icon>
                     </v-btn>
                  </template>
                  <span>Добавить в избранное</span>
               </v-tooltip>
            </v-img>
         
         <v-card-subtitle class="pb-0">
            <v-rating
               readonly
               length="5"
               size="15"
               :value="item.rating"
            ></v-rating>
         </v-card-subtitle>

         <router-link :to="{name: 'item', params: {id: item.id}}">
            <v-card-text>
               <div>{{`${item.size} ${item.category} ${item.brand} ${item.model} ${item.memory} ${item.color}`}}</div>
            </v-card-text>
         </router-link>

         <v-card-actions>
            <div class="price">{{currency().format(item.price)}}</div>
            <v-spacer></v-spacer>
            <v-btn v-if="!inBasket" color="blue" text @click="buy">Купить</v-btn>
            <v-btn v-else text @click="$router.push('/basket')">корзина</v-btn>
         </v-card-actions>

         <v-expand-transition>
            <v-card v-if="reveal" class="transition-fast-in-fast-out v-card--reveal reveal" style="height: 100%;">
               <v-card-text class="pb-0">
                  <p class="title text--primary">Описание</p>
                  <p>{{item.description}}</p>
               </v-card-text>
               <v-card-actions class="pt-0">
                  <v-btn text color="teal accent-4" @click="reveal = false">Закрыть</v-btn>
               </v-card-actions>
            </v-card>
         </v-expand-transition>
      </v-card>
   </v-slide-item>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    reveal: false,
    inBasket: false
  }),
  computed: {
    ...mapGetters(["basketItems"])
  },
  mounted() {
    if (this.basketItems.some(i => i.id == this.item.id)) {
      this.inBasket = true;
    }
  },
  methods: {
    ...mapActions(["addToBasket"]),
    buy() {
      this.addToBasket(this.item);
      this.inBasket = true;
    }
  }
};
</script>

<style scoped>
.content {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto auto 1fr minmax(40px, auto) / 1fr;
}
.image {
  position: relative;
}
.char {
  position: absolute;
  bottom: 0;
  left: 10;
}
.like {
  position: absolute;
  bottom: 0;
  right: 0;
}
.price {
  font-size: 20px;
  font-weight: bold;
}
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
.reveal {
  display: grid;
  grid-auto-flow: row;
  grid-template: 1fr minmax(40px, auto) / 1fr;
}
</style>