<template>
   <v-col cols="2">
      <v-sheet rounded="lg" elevation="8">
         <v-list color="transparent">
            <v-list-item  v-for="link in links" :key="link" link>
               <v-list-item-content>
                  <v-list-item-title>
                     <v-menu offset-x>
                        <template v-slot:activator="{ on, attrs }">
                           <div v-bind="attrs" v-on="on">
                              {{ link }}
                           </div>
                        </template>

                        <v-list>
                           <v-list-item v-for="(item, index) in items" :key="index">
                              <v-list-item-title>{{ item.title }}</v-list-item-title>
                           </v-list-item>
                        </v-list>
                     </v-menu>
                  </v-list-item-title>
               </v-list-item-content>
            </v-list-item>

            <v-divider class="my-2"></v-divider>

            <v-list-item link color="grey lighten-4" @click="$router.push('/itemList')">
               <v-list-item-content>
                  <v-list-item-title>Прочее</v-list-item-title>
               </v-list-item-content>
            </v-list-item>
         </v-list>
      </v-sheet>
   </v-col>
</template>

<script>
export default {
  data: () => ({
    links: [
      "Бытовая техника",
      "Смартфоны",
      "Компьютеры",
      "ТВ и развлечения",
      "Аксессуары",
      "Для офиса",
      "Для дома",
      "Инструменты",
      "Автотовары"
    ],
    items: [
      { title: "Click Me" },
      { title: "Click Me" },
      { title: "Click Me" },
      { title: "Click Me 2" }
    ]
  })
};
</script>