<template>
  <v-card height="150px">
    <v-footer absolute padless dark>
      <v-card flat tile width="100%" class="primary pt-5">
        <div class="content">
          <div>
            <v-btn v-for="link in links" :key="link" color="white" text rounded class="my-2">
              {{ link }}
            </v-btn>
          </div>
          <div class="text-right buttons">
            <v-btn v-for="icon in icons" :key="icon" class="mx-4" icon>
              <v-icon size="24px">{{ icon }}</v-icon>
            </v-btn>
          </div>
        </div>
        <v-divider></v-divider>

        <v-card-text class="white--text text-center">
          {{ new Date().getFullYear() }} — <strong>AlexDMercer</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    icons: [
      'mdi-facebook',
      'mdi-twitter',
      'mdi-linkedin',
      'mdi-instagram',
    ],
    links: [
      'Главная',
      'Каталог',
      'Магазины',
      'Контакты',
      'Партнерам',
    ],
  })
}
</script>

<style scoped>
.content {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  justify-content: space-between;
}
.buttons {
  align-self: center;
}
</style>