<template>
   <div class="text-center loader">
      <v-progress-circular 
         indeterminate 
         :color="color"
         :size="50"
      ></v-progress-circular>
   </div>
</template>

<script>
export default {
  computed: {
    color() {
      const colors = ["primary", "red", "purple", "green", "amber"];
      return colors[Math.floor(Math.random() * 5)];
    }
  }
};
</script>

<style scoped>
.v-progress-circular {
  margin: 1rem;
}
.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>