<template>
  <v-app-bar app absolute dark shrink-on-scroll color="#6A76AB"
      src="https://picsum.photos/1920/1080?random">
    <v-container class="py-0 fill-height">
      <h2 class="mr-10 pointer" @click="$router.push('/')">AleExpress</h2>
      <div class="head">
        <div class="head__top">
          <v-btn text>Каталог</v-btn>
          <v-btn text>Город</v-btn>
          <v-btn text>Избранное</v-btn>
          <router-link to="/basket">
            <v-badge overlap bordered :content="basketItems.length" v-if="basketItems.length">
              <v-btn text>Корзина</v-btn>
            </v-badge>
          </router-link>
        </div>
        <div class="head__bottom">
          <v-btn v-for="link in links" :key="link" text>{{ link }}</v-btn>
        </div>
      </div>
      <v-spacer></v-spacer>

      <v-responsive max-width="260" class="mr-5">
        <v-text-field
          dense
          flat
          hide-details
          rounded
          solo-inverted
        ></v-text-field>
      </v-responsive>

      <v-btn v-if="auth" class="ma-4" rounded color="primary" @click="signOut">Выйти</v-btn>
      <v-btn v-else class="ma-4" rounded color="primary" @click="$router.push('/login')">Войти</v-btn>
      <router-link to="/private">
        <v-avatar color="indigo">
          <v-icon dark>mdi-account-circle</v-icon>
        </v-avatar>
      </router-link>
      
    </v-container>
  </v-app-bar>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data: () => ({
    links: ["Магазины", "Информация", "Контакты", "Партнерам"],
    funcs: ["Каталог", "Город", "Избранное", "Корзина"]
  }),
  computed: {
    ...mapGetters(["user", "auth", "basketItems"])
  },
  methods: {
    ...mapActions(["logout"]),
    signOut() {
      this.logout();
    }
  }
};
</script>

<style scoped>
.head {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.head__top {
}
.head__bottom {
}
.pointer {
  cursor: pointer;
}
</style>