<template>
   <v-col cols="3">
      <v-sheet rounded="lg" elevation="8">
        <v-list color="transparent">
          <v-treeview open-on-click transition :items="sort" activatable></v-treeview>
          <v-divider class="my-2"></v-divider>
          <v-treeview open-on-click transition selectable :items="items" v-model="tree"></v-treeview>
          <v-divider class="my-2"></v-divider>

          <v-list-item>
            <v-btn color="primary" block>Применить</v-btn>
          </v-list-item>
          <v-list-item>
            <v-btn block @click="tree = []">Сбросить</v-btn>
          </v-list-item>   
         </v-list>
      </v-sheet>
   </v-col>
</template>

<script>
export default {
  data: () => ({
    tree: [],
    items: [
      {
        id: 1,
        name: "Цена",
        children: [
          { id: 2, name: "Менее 4 000 ₽" },
          { id: 3, name: "4 000 ₽ - 10 000 ₽" },
          { id: 4, name: "10 000 ₽ - 20 000 ₽" },
          { id: 5, name: "20 000 ₽ - 40 000 ₽" },
          { id: 6, name: "40 000 ₽ - 80 000 ₽" }
        ]
      },
      {
        id: 7,
        name: "Производитель",
        children: [
          { id: 8, name: "Apple" },
          { id: 9, name: "Honor" },
          { id: 10, name: "Samsung" },
          { id: 11, name: "Xiaomi" }
        ]
      },
      {
        id: 12,
        name: "Год релиза",
        children: [
          { id: 13, name: "2015 - 2018 г." },
          { id: 14, name: "2019 г." },
          { id: 15, name: "2020 г." },
          { id: 16, name: "2021 г." }
        ]
      },
      {
        id: 17,
        name: "Объем памяти",
        children: [
          { id: 18, name: "32 Гб" },
          { id: 19, name: "64 Гб" },
          { id: 20, name: "128 Гб" },
          { id: 21, name: "256 Гб" }
        ]
      }
    ],
    sort: [
      {
        id: 1,
        name: "Сортировка",
        children: [
          { id: 2, name: "По возрастанию цены" },
          { id: 3, name: "По убыванию цены" },
          { id: 4, name: "По наименованию" },
          { id: 5, name: "По рейтингу" }
        ]
      }
    ]
  })
};
</script>